.reset {
  width: 150px;
  height: 60px;
  background-color: #d50032;
  color: #ffffff;
  font-size: 25px;
  font-family: impact, sans-serif;
  border: 0;
  border-radius: 5%;
  cursor: pointer;
}

.reset:hover {
  background-color: #9b0024;
}

.reset:active {
  background-color: #640017;
}
